.color-biru-tua{
    color: #050deb;
}

.color-hitam{
    color: #100d28;
}

.color-ungu-muda{
    color: #8906e6;
}

.color-pink-muda{
    color: #ff00e2;
}

.color-putih{
    color: #ffffff;
}

.bg-biru-tua{
    background-color: #050deb;
}

.bg-hitam{
    background-color: #100d28;
}

.bg-ungu-muda{
    background-color: #8906e6;
}

.bg-pink-muda{
    background-color: #ff00e2;
}

.bg-putih{
    background-color: #ffffff;
}